.employeeListItem{
  width:100%;
  list-style-type: none;
  
  animation: listAnimation 1.2s linear;
  animation-direction: normal;
}

.employeeNameRoleContainer{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  margin-bottom: 5px;
  background:rgb(200,200,200);
  height: auto;
  min-height: 40px;
  border-radius:5px;
}
.employeeName{
  color:rgb(54, 54, 54);
  font-size:24px;
  margin-left:10px;

}

.employeeRole{
  display:inline-flex;
  align-items: center;
  height: 24px;
  border-radius:4px;
  padding:0 5px;
  margin-right: 5px;
}
.employeeRole_CEO{
  composes:employeeRole;
  background: red;
  color:whitesmoke;
}
.employeeRole_Supervisor{
  composes:employeeRole;
  background: orange;
  color:whitesmoke;
}
.employeeRole_Employee{
  composes:employeeRole;
  background: greenyellow;
  color:black;
}

.roleSearchContainer{
  display:flex;
  align-items: center;
}

.searchIcon{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right:5px;
  width:30px;
  height:30px;
  border-radius: 50%;
  background:rgb(179, 179, 179);
  cursor:pointer;

  &:hover{
  background:grey;
  }
}

@keyframes listAnimation {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}