.mainContainer{
  position: relative;
  height:100%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  overflow:hidden;
}
.searchContainer{
  height:30%;
  background: rgb(80,80,80);
  background: radial-gradient(circle, rgba(80,80,80,1) 0%, rgba(80,80,80,1) 50%, rgba(62,62,62,1) 100%);
  background-size: cover;
  background-position: center;
  transition: height 0.8s ease-out;
  order: 0;
  flex: 1 1 30%;
  align-self: auto;
}
.employeeContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height:70%;
  background:rgb(133, 133, 133);
  color:whitesmoke;
  transition: height 0.8s ease-out;
  overflow: auto;
  order: 0;
  flex: 1 1 70%;
  align-self: auto;
}  
.employeeContainerHome{
  height:0;
}

  .searchContainerHome{
    composes:searchContainer;
    height: 100%;
  }



  .employeeList{
    margin: 20px 0 0 0;
    padding:0;
    width: calc(100% - 20px);
    max-width: 600px;
  }