
// TODO - use composes to animate these - perhaps use grid instead.
// .rootView,
// .rootViewHome,
// .rootViewEmployee{
//   display:flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: flex-start;
//   align-content: stretch;
//   align-items: stretch;
//   height:100vh;
// }
.rootView{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 80px;
  height:100vh;
  transition: grid-template-rows 1s linear;
}

.header{
  background: rgb(207, 207, 207);
  padding:0 10px;
}
  .logo{
    display:inline-block;
    position: relative;
    margin-top:10px;
    height:60px;

    > img {
      height:100%;
    }
    > span {
      display:block;
      font-size:19px;
      margin:0;
      width:100%;
      letter-spacing: 2px;
      font-weight: bold;
      color:rgb(60,64,76);
    }
  }

  .candidate{
    position: absolute;
    top:0;
    right:0;
    height:100px;
    display: flex;
    align-items: center;

    > img {
      height:60px;
      margin:10px;
      border-radius:50%;
      border: 2px solid rgb(92, 98, 116);
    }
    >h5{
      margin-right:10px;
      font-weight: bold;
      color:rgb(60,64,76);
    }
  }

.footer{
  background: rgb(34, 34, 34);
  color:whitesmoke;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
  .email{
    display:flex;
    align-items: center;
  }
    .emailIcon{
      margin:0 20px;
    }
    .emailLink{
      > a{
        color:whitesmoke;

        &:visited{
          color:lightgrey;
        }
        &:hover{
          color:whitesmoke;
          text-decoration: dashed;
        }
      }
    }

  .telephone{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
  }
    .telephoneIcon{
      margin:0 20px;
    }
    .telephoneLink{
      
      > a{
        color:whitesmoke;

        &:visited{
          color:lightgrey;
        }
        &:hover{
          color:whitesmoke;
          text-decoration: dashed;
        }
      }
    }

@media screen and (max-width: 600px) {
  .header > .candidate {
    
    >img{
      position: absolute;
      top:0;
      right:0;
      height: 50px;
      width:50px;

    }
    >h5{
      position: absolute;
      bottom:0;
      right:0;
      width:60px;
      font-size:10px;
      text-align: center;
    }

  }
}