.homeContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height:100%;
  
  >h3 strong{
    color:rgb(130, 230, 255);
    text-shadow: 0 0 14px rgba(62, 216, 255, 0.6);
  }
}
.searchHeading{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin:0 0 2rem 0;
  text-align: center;
}
.formContainer{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display:flex;

  > * {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  > form{
    display:flex;
    
    .submitButton{
      margin-left:0.6rem;
    }
  }

}